################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MapperGenerator/.vs/MapperGenerator/v16
/MapperGenerator/obj
/MapperGenerator/MapperGenerator.sln
/MapperGenerator/bin
/MapperGenerator/MapperGenerator.csproj.user
/MapperGenerator/.vs/MapperGenerator/DesignTimeBuild
/MapperGenerator/MapperGenerator.sln.DotSettings.user
/MapperGenerator.Tests/bin/
/MapperGenerator.Tests/obj
